@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	weight: 2000px;
	background-color: #F2F2F2;
	background-position: top;
	background-repeat: repeat;
	background-size: 100%;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

header {
  background: #111;
	text-align: center;
  width: 100%;
  z-index: 3;
	position: fixed;
	top: 0;
}

header::after {
  display: table;
  clear: both;
}

img{
	width: 100%;
	height: 100%;
	opacity: 0.9;
  filter: alpha(opacity=90);
	right: 50px;
}

button {
	position: static;
  top: 50%;
	left: 50%
	color: #000;
	width: 240px;
	height: 80px;
	border: 2px solid #000;
	font-size: 18px;
	border-radius: 4px;
	transition: .6s;
	overflow: hidden;
	margin-top: 25px;
}


button:after{
	content: '';
	display: block;
	position: absolute;
	background: #000;
	width: 30px;
	height: 100%;
	left: 30px;
	top: 0;
	opacity: 0;
	filter: blur(30px);
	transform: translate(-100px) scaleX(-15deg);
}
button:hover{
	background: #000;
	color: #FFF;
	cursor: pointer;
	border: 3px solid #FFF;
}



nav ul {
  margin: 0;
  padding: 0;
  list-style: none;

}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: white;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: white;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

ul {

  padding: 0 10px
  list-style: none;
}

li {
  padding: 20px 0;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
}
ul a{
  color: white;
  text-decoration: none;
}
ul a:hover{
	color: #FFF;
}

li:hover {
	color: #FFF;
}

h1 {
  color: #000;
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  color: #333;
  font-family: 'Varela Round', sans-serif;
  font-size: 24px;
  font-weight: 100;
  margin: 50px 200px 50px 200px;
}

h3 {
  color: #466995;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  padding: 45px 0;
}

h4 {
  color: #466995;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase
}

p {
  color: #FFF;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
}

footer {
	padding: 20px 0;
  background-color: #111;
  text-align: center;
  height: 70px;

}
.anchor{
  height: 5px;
}
h5{
	color: #FFFFFF
}


.welcome {
  text-align: center;
  width: 100%;
  height: 600px;
  margin-top: 120px;
}

.question {
  text-align: center;
  position: relative;
  top: 30px;
  height: 400px;
}

.answer {
  background: white;
	position: relative;
	text-align: center;
  border: 1px solid black;
  margin: auto;
  display: inline-block;
  height: 150px;
  width: 150px;
}

.answer:hover {
  background: #DBE9EE;
  color: white;
}
/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 35%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #FFF;
    color: black;
}

/* Twitter */
.fa-instagram {
    background: #FFF;
    color: black;
}

.fa-linkedin {
    background: #FFF;
    color: black;
}
